/* Variables */
:root {
    --iris: #4d5ae5;
    --navy-blue: #2e2f42;
    --slate: #434455;
    --primary-family: "Roboto", sans-serif;
    --second-family: "Raleway", sans-serif;
    --white: #fff;
    --ocean: #404bbf;
    --cloud: #f4f4fd;
}

/* Common */
body {
    font-family: var(--primary-family);
    color: var(--slate);
    background-color: var(--white);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

ul {
    list-style-type: none;
}

.link {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--navy-blue);
}

/* Header */
.logo {
    text-transform: uppercase;
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 18px;
    color: var(--iris);
    line-height: 1.17;
    letter-spacing: 0.03em;
}

.page-header .logo .logo-span {
    color: var(--navy-blue);
}

.page-nav .link {
    color: var(--navy-blue);
    font-weight: 500;
}

.page-nav .link:hover,
.page-nav .link:active,
.page-nav .link:focus,
.contacts-list .link:hover,
.contacts-list .link:focus {
    color: var(--ocean);
}

.contacts {
    font-style: normal;
}

.contacts-list .link {
    color: var(--slate);
}

/* Sections */
.section-title {
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
}

.hero-section {
    background-color: var(--navy-blue);
}

.hero-section .section-title {
    color: var(--white);
    font-size: 56px;
    line-height: 1.07;
    text-transform: none;
}

.team-section {
    background-color: var(--cloud);
}

.features-list .title,
.team-list .title,
.portfolio-list .title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.section-title,
.team-list .title,
.portfolio-list .title {
    text-transform: capitalize;
}

.team-list .item {
    background-color: var(--white);
}

/* Buttons */
.btn {
    font-weight: 500;
    cursor: pointer;
    line-height: 1.5;
    letter-spacing: 0.04em;
}

.btn.primary {
    background-color: var(--iris);
    color: var(--white);
}

.btn.primary:hover,
.btn.primary:focus {
    background-color: var(--ocean);
}

/* Footer */
.page-footer {
    background-color: var(--navy-blue);
    
}

.page-footer, 
.page-footer .logo .logo-span {
    color: var(--cloud);
}
